@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
/* :root {
  --nav-height: 60px;
  --full-height: calc(100vh - var(--nav-height));
  --background: hsl(0, 2%, 7%);
  --nav-background: hsl(0, 2%, 10%);
  --nav-background-blur: hsla(0, 2%, 10%, 0.75);
  --shadow: rgba(0, 0, 0, 0.6);
  --text-color: white;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --hr: rgba(230, 230, 230, 0.12);
  --textfield: rgb(34, 34, 34);
  --active: rgba(255, 255, 255, 0.2);
  --hover: rgba(255, 255, 255, 0.068);
} */
:root {
  --nav-height: 60px;
  --full-height: calc(100vh - var(--nav-height));
  --background: hsl(43, 100%, 95%);
  --nav-background: hsl(43, 100%, 97%);
  --nav-background-blur: hsla(44, 100%, 97%, 0.75);
  --shadow: rgba(126, 126, 126, 0.466);
  --text-color: black;
  --secondary-text: #65676b;
  --hr: rgba(0, 0, 0, 0.12);
  --textfield: rgb(255, 255, 255);
  --dark-textfield: rgb(59, 59, 59);
  --active: rgba(0, 0, 0, 0.2);
  --hover: rgba(0, 0, 0, 0.068);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "PT Serif", serif !important;
}
nav {
  position: fixed;
  top: 0;
  height: var(--nav-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 3px 5px 0 var(--shadow);
  z-index: 1000;
  background-color: var(--nav-background-blur);
  backdrop-filter: blur(10px);
}
.visited {
  color: #4285f4;
}
.heading {
  user-select: none;
  margin-right: 10px;
  text-decoration: none;
  color: var(--text-color);
}
.pfp {
  border-radius: 50%;
  width: 60px;
}
.nav-img {
  width: 2rem !important;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 5px;
  width: 45px;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 50%;
  transition-duration: 0.4s;
}
.icon-button-sm {
  width: 30px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--hr);
}
.dropdown {
  list-style: none;
  position: absolute;
  top: calc(var(--nav-height) - 2px);
  right: 10px;
  width: 360px;
  border-radius: 0.5rem;
  background-color: var(--nav-background);
  z-index: 10;
  padding: 5px;
  box-shadow: 0 0 15px 2px var(--shadow);
}
.dropdown-item,
.button {
  color: var(--text-color);
  padding: 10px;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 0.4s;
}

.dropdown-item:active,
.button:active:enabled,
.toggleDiv:active,
.fab:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.dropdown-text {
  display: flex;
  flex-direction: column;
}
.dropdown-primary {
  font-weight: bold;
}
.dropdown-secondary {
  font-size: small;
  color: var(--secondary-text);
}
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.home-nav {
  min-height: calc(var(--full-height) - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.main {
  margin-top: var(--nav-height);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  background-color: var(--nav-background);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border-radius: 0.5rem;
  padding: 15px;
  box-shadow: 0 0 15px 2px var(--shadow);
}
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 845px;
}
.landing > div {
  width: 50%;
  margin: 0 10px;
}
.button {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  background-color: var(--background);
  border: 1px solid var(--hr);
  border-radius: 0.3rem;
  padding: 5px 15px;
  font-size: 0.875rem;
  min-width: 64px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  user-select: none;
  text-transform: uppercase;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  font-weight: 500;
  cursor: pointer;
}
.secondary-but {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.but-outline {
  border: 1px solid var(--secondary-text);
}
.button svg {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.top-buts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.loader {
  border: 10px solid #979797e5;
  border-radius: 50%;
  border-top: 10px solid #202020;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-icon {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 25px;
  margin: 0 5px;
  cursor: pointer;
}
.tab-active {
  background-color: var(--background);
  box-shadow: 0 0 5px 2px var(--shadow);
  font-weight: 600;
}
.tab-active-icon {
  stroke-width: 3;
}
.feeds {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
}
.feed {
  max-width: 700px;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--nav-background);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--hr);
  position: relative;
  overflow: hidden;
}
.cover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -10px !important;
  width: 100%;
  height: 100%;
  background-color: var(--nav-background-blur);
  backdrop-filter: blur(10px);
}
.cover > * {
  margin: 5px;
}
.feed > * {
  margin: 5px 0;
}
.feed-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feed-title-heading {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
}
.feed-title-heading:hover {
  text-decoration: underline;
}
.feed-body {
  font-family: "PT Serif", serif !important;
}
.feed-author {
  font-size: small;
  color: var(--text-color);
}
.likes {
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}
.keywords {
  display: flex;
  padding: 5px 0;
  align-items: center;
  font-size: small;
  flex-wrap: wrap;
}
.keywords > p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  border: 1px solid var(--hr);
  background-color: var(--background);
  color: var(--secondary-text);
  padding: 1px 10px;
  margin: 2.5px 0;
  margin-right: 5px;
}
.key-input {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid var(--hr);
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  background-color: var(--textfield);
}
.key-input-div {
  overflow: auto;
  width: calc(100% - 45px);
}
.key-input input {
  border: none;
  outline: none;
}
.key-input input:hover {
  border: none;
}
.key-input button {
  display: flex;
  color: var(--text-color);
  align-items: center;
  padding: 5px 2px 5px 5px;
  border: none;
  background-color: unset;
  cursor: pointer;
}
.published {
  color: var(--secondary-text);
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.join {
  display: flex;
  width: 100%;
  max-width: 100%;
}
.textfield {
  background-color: var(--textfield);
  color: var(--text-color);
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid var(--hr);
}

.details {
  font-size: small;
  color: var(--secondary-text);
}
.team-members {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.team-members li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: small;
}
.team-members li img {
  margin-right: 10px;
  width: 32px;
}
.team-member-div {
  display: flex;
  align-items: center;
}
.request {
  width: 100%;
  justify-content: space-between !important;
}
.link {
  cursor: pointer;
  font-size: small;
}

.title-field {
  font-family: "PT Serif", serif !important;
  text-transform: capitalize;
  font-size: large;
}
select {
  background-color: var(--textfield);
  color: var(--text-color);
  padding: 10px 5px;
  border: 1px solid var(--hr);
  border-radius: 5px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.toggleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0.5rem;
}
.team {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-between;
}
.teams {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.error {
  font-size: small;
  color: rgb(228, 13, 13);
}
.editor-class {
  padding: 5px;
  overflow: unset !important;
}
.prs {
  margin: 5px 0;
  background-color: var(--background);
  border-radius: 0.5rem;
  border: 1px solid var(--hr);
  padding: 8px;
  cursor: pointer;
}

.prs:active {
  background-color: var(--active);
}
.pr-title {
  font-family: "PT Serif", serif !important;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 2px;
  transition-duration: 0.4s;
}
.pr-desc {
  font-family: "PT Serif", serif !important;
  font-size: smaller;
  margin-top: 2px;
}
.toolbar-class,
.wrapper-class {
  background-color: var(--textfield) !important;
  color: var(--text-color) !important;
  padding: 5px !important;
  border-radius: 5px !important;
  border: 1px solid var(--hr) !important;
}
.wrapper-class {
  min-height: 60vh;
  height: 100%;
}

.rdw-dropdown-optionwrapper {
  overflow-y: auto !important;
}
.rdw-dropdown-wrapper {
  color: black;
}
.editor-class * {
  font-family: "PT Serif", serif !important;
}
.rdw-option-wrapper {
  padding: 10px !important;
  height: auto !important;
}
.preview-main {
  margin-top: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview {
  min-height: var(--full-height);
  padding: 10px;
  max-width: 850px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.preview > * {
  margin: 10px 0;
  font-family: "PT Serif", serif !important;
}
.preview-body * {
  font-family: "PT Serif", serif !important;
}
.sticky {
  position: sticky;
  top: var(--nav-height);
  z-index: 100 !important;
}
.sticky1 {
  position: sticky;
  top: var(--nav-height);
  z-index: 100 !important;
}
.fab {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--background);
  box-shadow: 0 0 10px 5px var(--shadow);
  transition-duration: 0.4s;
  z-index: 1000;
}
.edit-main {
  justify-content: center;
  align-items: flex-start;
}
.sidebar {
  margin-left: 10px;
  padding: 10px;
  height: calc(var(--full-height) - 20px);
  top: calc(var(--nav-height) + 10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  max-width: 360px;
  z-index: 10;
}
.sidebar-content {
  border-radius: 0.5rem;
  border: 1px solid var(--hr);
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  height: 100%;
  overflow-wrap: break-word;
  overflow-y: auto;
  z-index: 10;
}
.heading-h3 {
  display: flex;
  align-items: center;
  font-family: "PT Serif", serif !important;
  margin-bottom: 5px;
}
.members {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.create {
  display: block;
}
.create-mob {
  display: none;
}
.button:disabled {
  color: var(--secondary-text);
  cursor: not-allowed;
}
.comma ~ .comma:not(:empty):before {
  content: " | ";
}

.mobile-body {
  background-color: var(--textfield);
}
.mobile-body textarea {
  margin-top: 5px;
  font-family: "PT Serif", serif !important;
  height: fit-content;
  min-height: 30vh;
  resize: inherit;
}
.mobile-body-span,
.mobile-body-span p,
.mobile-body-span p > * {
  font-family: "PT Serif", serif !important;
  margin-bottom: 5px;
}

.accordion {
  background-color: var(--nav-background);
  width: 100%;
  padding: 8px;
  border-radius: 0.5rem;
  border: 1px solid var(--hr);
  height: fit-content;
  margin-bottom: 10px;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: px 0; */
  cursor: pointer;
}
.badge {
  font-size: x-small;
  display: flex;
  line-height: 1.75;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 500px;
  min-width: 20px;
  width: max-content;
  height: 20px;
  text-align: center;
  padding: 7px;
  background-color: rgb(240, 30, 30);
  font-weight: normal;
  color: white;
  box-shadow: 0 2px 2px var(--shadow);
}
.sidebarContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.dialog-bg {
  position: fixed;
  left: 50%;
  top: 50.7%;
  margin-top: -5px;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100000;
}
.dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  padding: 10px;
  max-width: 700px;
  width: 80vw;
  border: 1px solid var(--hr);
  border-radius: 0.5rem;
  transition-duration: 0.4s;

  z-index: 10000;
}
.dialog-title {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dialog-body {
  padding: 10px;
  font-family: "PT Serif", serif !important;
  max-height: 70vh;
  overflow-y: auto;
}
.dialog-body > * {
  font-family: "PT Serif", serif !important;
  margin: 5px 0;
}
.publish {
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.dialog-actions div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0;
}
.dialog-actions div > * {
  margin: 0 5px;
}
.dialog-title h1 {
  text-transform: capitalize;
}
.message-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.message-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.message-body {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 10px;
  overflow-y: auto;
}
.message-whole {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.message {
  width: fit-content;
  max-width: 257px;
  padding: 5px 15px;
  /* margin: 5px 0; */
  border-radius: 500px;
  background-color: var(--nav-background);
  border: 1px solid var(--hr);
  align-self: flex-start;
  font-size: 0.9375rem;
}
.message-self {
  background-color: var(--background);
  align-self: flex-end;
  /* text-align: right; */
}
.message-sender,
.message-time {
  align-self: flex-start;
  font-size: x-small;
}
.message-time {
  color: var(--secondary-text);
  margin-bottom: 5px;
}
.message-time-self {
  text-align: right;
  align-self: flex-end;
}
.link-sm {
  margin: 0 3px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.p-dialog {
  font-family: "PT Serif", serif !important;
}
.svg {
  width: 250px;
  height: 250px;
}
.follow-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.follow-tab {
  font-family: "PT Serif", serif !important;
  font-size: large;
  text-align: center;
  min-width: 90px;
  margin-right: 20px;
}
.follow-tab-hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.follow-tab:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.follow-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.p-follow:hover {
  text-decoration: underline;
  cursor: pointer;
}
.report-list {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 620px) {
  .comp {
    display: none;
  }
  .landing {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
    justify-content: space-around;
    text-align: center;
  }
  .landing > div {
    width: 100%;
    margin: 10px;
  }
  .login {
    background-color: var(--background);
    box-shadow: none;
    margin-top: 20px;
  }
  h1 {
    font-size: 36px; /* Some tweener fallback that doesn't look awful */
    font-size: 5.4vw;
  }
}
.preview h1 {
  text-transform: capitalize;
}
.link:hover {
  text-decoration: underline;
}
.tos {
  padding: 25px;
  max-width: 700px;
  width: 100%;
}
.tos > h2 {
  margin: 20px 0;
}
.tos > ul {
  margin: 15px 0;
  padding-left: 40px;
}
@media (hover: hover) and (pointer: fine) {
  .textfield:hover,
  select:hover,
  .key-input:hover {
    border: 1px solid var(--text-color);
  }
  .dropdown-item:hover,
  .button:hover,
  .toggleDiv:hover,
  .icon-button:hover,
  .prs:hover,
  .fab:hover {
    background-color: var(--hover);
  }
  .button:disabled:hover {
    background-color: var(--background);
  }
}
.icon-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 380px) {
  .dropdown {
    width: calc(100vw - 20px);
  }
  .dialog {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .dialog-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 845px) {
  .create,
  .sidebar {
    display: none;
  }
  .create-mob {
    display: block;
  }
  .create-mob-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: calc(var(--nav-height) + 10px);
  }
  .message-main {
    height: calc(100vh - (var(--nav-height) * 2 + 30px));
    padding: 0 10px;
  }
  .create-mob-main > .main {
    margin-top: 0;
  }
  .sticky {
    top: calc(var(--nav-height) * 2);
  }
  .sticky1 {
    top: calc(var(--nav-height) * 2);
  }
  .edit-tab {
    position: fixed;
    padding-top: 10px;
    /* top: calc(var(--nav-height) + 10px); */
    top: var(--nav-height);
    height: var(--nav-height);
    width: 100%;
    background-color: var(--background);
    z-index: 100;
  }
  .members {
    padding: 10px;
    overflow-wrap: break-word;
    max-width: 360px;
  }
  .preview {
    min-height: calc(var(--full-height) - var(--nav-height));
  }
  .preview-main {
    margin-top: calc(var(--nav-height) * 2);
    max-width: 850px;
    width: 100%;
  }
}
